body {
        margin: 0px;
        font-family: Trebuchet MS, Tahoma, Arial;
        font-size: 15px;
        background-color : #fefeff;
}


div.head {
   width: 100%;
   height: 135px;
   text-align:center;
   background-color: #ccc;
}

div.logo {
   float:left;
   width: 100px;
   height: 100px;
   background-color: #eed345;
}

div.content {
   padding:5px;
}


a.lang {
   text-align: right;
}