.svn
debug/
release/
templates/
dot/
old-journal/
journalgenerator/**/bin
journalgenerator/**/obj
journalgenerator/**/*.user
journalgenerator/**/*.suo
journalgenerator/**/*.dotCover
journalgenerator/**/*.ReSharper
journalgenerator/src/packages/


