<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Journal Differential Equations and Control Processes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <link rel="stylesheet" href="style.css" type="text/css"></link>
    <style type="text/css">
      h1 { text-align: center; }

      div div { width: 46%; }
      div div.left { float: left; text-align:right; margin-right:1.2em; }
      div div.right { float: right; text-align:left; margin-left:1.2em; }
     
      body { padding-top: 3em; }
    </style>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17795545-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

   </script>
  </head>
  <body>
    <h1>Journal Differential Equations and Control Processes</h1>
    <div style="height:7em;"></div>
    <div style="text-align:center;">
      <div style="margin:0 auto;"><img src="logo.gif" alt="dx/dt" style="border:0;"/></div>
    </div>
    <div>
      <div class="left">
        <h2>Enter <br /><a href="EN/about.html">English</a></h2>
      </div>    
      <div class="right">
        <h2>Вход <br /><a href="RU/about.html">Русский</a></h2>
      </div>
    </div>

  </body>
</html>