body {
  background-color: rgb(240, 248, 255);
  font-family: Tahoma, Verdana, Helvetica, Arial;
  color: rgb(100, 60, 40);
  font-size: 12pt;
  margin:0;
  padding:0;
  padding-bottom: 5em;
}

div.Head {
  width: 100%;
  height: 160px;
  text-align: center;
}

div.HeadForeignLink {
  text-align: right;
  font-size: 9pt;
}

div.HeadForeignLink a:link {
  color: rgb(100, 160, 240);
}

div.HeadForeignLink a:visited {
  color: rgb(110, 170, 250);
}

div.HeadForeignLink a:hover, a:active {
  color: rgb(240, 140, 0);
}

div.Logo {
  float:left;
  width: 160px;
  height: 160px;
}

div.Content {
 display: block;
 margin-left: 170pt;
 padding-left: 1em;
 border-left: 2px dotted rgb(220, 230, 240);
}

h1 {
  font-family: Impact, Helvetica, Arial, Verdana;
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  color: rgb(120, 64, 0)
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  padding-left: 20px;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
}

h4 {
  font-size: 10pt;
  font-weight: bold;
}


a:link {
  color: rgb(100, 160, 240);
}

a:visited {
  color: rgb(110, 170, 250);
}

a:hover, a:active {
  color: rgb(240, 140, 0);
}

div.MainMenu {
  font-size: 13pt;
  font-weight: bold;
  float: left;
  margin: 1em 0 2em 1em;
  padding-right: 1em;
}

div.MainMenu a {
  padding-right: 0px; 
  padding-left: 0px;
  text-decoration: none;
  display:block;
}

div.MainMenu a:link {
  color: (100, 160, 240);
}

div.MainMenu a:visited {
  color: rgb(110, 170, 250);
}

div.MainMenu a:hover, a:active {
  color: rgb(240, 140, 0);
}


div.article {
  border-botton: 1px dotted rgb(220, 230, 240);
  margin-left: 10em;
  text-align:left;
  
}

div.article h3 {
  margin-left: -10em; 
}

div.article h5 {
  font-weight:bold;
  padding: 0;
  margin: 0;
}


div.collection td {
 width:5em;
 border: 1px solid rgb(220, 230, 240);
}
              	
div.collection td.number {
 width:5em;
 font-weight: bold;
}


div.Footer {
 color: #AAA;
 float: right;
 font-size: 70%;
}