body {
background-color: rgb(245, 245, 255);
color: rgb(100, 60, 0);
font-size: 12pt;
}

div.head {
width: 100%;
height: 135px;
text-align:center;
}

div.logo {
float:left;
width: 100px;
height: 100px;
}

div.content {
padding:5px;
}


h1 {
text-align: center;
font-size: 16pt;
font-weight: bold;
color: rgb(120, 64, 0)
}

h2 {
font-size: 14pt;
font-weight: bold;
}

h3 {
font-size: 12pt;
font-weight: bold;
}



div.menu a {
padding-right: 7px; 
padding-left: 7px;
font-size: 14pt;
font-weight: bold;
}

div.menu a:link {
color: rgb(100, 160, 240);
}

div.menu a:visited {
color: rgb(110, 170, 250);
}

div.menu a:hover, div.menu a:active {
color: rgb(240, 140, 0);
}

a.MenuElement {
padding-right: 7px; 
padding-left: 7px;
font-size: 14pt;
font-weight: bold;
}

a.MenuElement:link {
color: rgb(100, 160, 240);
}

a.MenuElement:visited {
color: rgb(110, 170, 250);
}

a.MenuElement:hover, a.MainMenu:active {
color: rgb(240, 140, 0);
}