<html>
  <head>
    <title>
      Электронный журнал "Дифференциальные уравнения и процессы управления" - О журнале
    </title>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
    </meta>
    <link rel="stylesheet" href="Style.css" type="text/css">
    </link>
  </head>
  <body>
    <!--##MenuRu##-->
    <h2>
      О журнале
    </h2>
    <h3>
      Журнал зарегистрирован:
    </h3>
    <p>
      Комитетом по печати Российской Федерации. Северо западное региональное управление. Санкт-Петербург. Регистрационный номер: П 23275 от 7 марта 1997 г.
    </p>
    <h3>
      Учредитель:
    </h3>
    <p>
      Санкт-Петербургский Государственный Технический Университет
    </p>
    <h3>
      Журнал формируется:
    </h3>
    <p>
      В лаборатории СПбГТУ «Нелинейный анализ и математическое моделирование».
    </p>
  </body>
</html>