<html>
  <head>
    <title>
      Электронный журнал "Дифференциальные уравнения и процессы управления" - Cтатья "<!--##ArticleTitleRu##-->"
    </title>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
    </meta>
    <link rel="stylesheet" href="Style.css" type="text/css">
    </link>
  </head>
  <body>
    <!--##MenuRu##-->
    <h2>
      Статья "<!--##ArticleTitleRu##-->"
    </h2>
    <h3>
        Автор(ы):
    </h3>
    <p>
      <!--##ArticleAuthorsRu##-->
    </p>
    <h3>
      Тезисы / резюме / краткое содержание:
    </h3>
    <p>
      <!--##ArticleAbstractRu##-->
    </p>
    <h3>
      Текст статьи в формате pdf:
    </h3>
    <p>
      <!--##ArticlePdfRefRu##--> 
    </p>
    <h3>
      Журнал <!--##IssueInfoRefRu##-->, <!--##ArticleFirstPageRu##--> - <!--##ArticleLastPageRu##--> сс. 
    </h3>
  </body>
</html>