<html>
  <head>
    <title>
      Электронный журнал "Дифференциальные уравнения и процессы управления" - <!--##NameRu##-->
    </title>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
    </meta>
    <link rel="stylesheet" href="Style.css" type="text/css">
    </link>
  </head>
  <body>
    <!--##MenuRu##-->
    <h2>
      <!--##NameRu##-->
    </h2>
    <h3>
      Электронная почта:
    </h3>
    <p>
      <!--##EmailRu##-->
    </p>
    <h3>
      Адрес/место работы:
    </h3>
    <p>
      <!--##WorkRu##-->
    </p>
  </body>
</html>