<html>
  <head>
    <title>
      Электронный журнал "Дифференциальные уравнения и процессы управления" <!--##IssueNumber##-->
    </title>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
    </meta>
    <link rel="stylesheet" href="Style.css" type="text/css">
    </link>
  </head>
  <body>
    <!--##MenuRu##-->
    <h2>
      Журнал
      <!--##IssueNumberRu##-->
    </h2>
    <h3>
      Название:
    </h3>
    <p>
      "<!--##IssueTitleRu##-->"
    </p>
    <h3>
      Статьи:
    </h3>
    <p>
      <!--##AllArticlesRu##-->
    </p>
  </body>
</html>