    <h1>
      Дифференциальные уравнения и процессы управления
    </h1>
    <a class=MainMenu href="AboutRu.html">
      О журнале
    </a>
    <a class=MainMenu href="EditorialStaffRu.html">
      Редакция журнала
    </a>
    <a class=MainMenu href="NewsRu.html">
      Новости
    </a>
    <a class=MainMenu href="ForAuthorsRu.html">
      Для авторов
    </a>
    <a class=MainMenu href="BooksRu.html">
      Книги
    </a>
    <a class=MainMenu href="CollectionRu.html">
      Коллекция номеров
    </a>
    <!--##EnVersionRef##-->