body {
background-color: rgb(245, 245, 255);
color: rgb(100, 60, 0);
font-size: 12pt;
}

h1 {
text-align: center;
font-size: 16pt;
font-weight: bold;
color: rgb(120, 64, 0)
}

h2 {
font-size: 14pt;
font-weight: bold;
}

h3 {
font-size: 12pt;
font-weight: bold;
}

a.MainMenu {
padding-right: 7px; 
padding-left: 7px;
font-size: 14pt;
font-weight: bold;
}

a.MainMenu:link {
color: rgb(100, 160, 240);
}

a.MainMenu:visited {
color: rgb(110, 170, 250);
}

a.MainMenu:hover, a.MainMenu:active {
color: rgb(240, 140, 0);
}